.retangulo{
    width: 256px;
    height: 115px;
    flex-shrink: 0;
    border-radius: 6px;
    background: #2F3136;
    margin-left: 18.75rem;
    margin-top: 6.25rem;
    margin-bottom: 6.25rem;
}

.titulo{
    color: #FFF;
    font-family: 'Whitney', sans-serif;
    font-size: 25px;
    font-weight: 700;
    text-align: center;
}

.descricao{
    color: #FFF;
    font-family: 'Whitney', sans-serif;
    font-size: 13px;
    font-weight: 500; 
    margin: 10px;
}

body{
    background-color: black;
    
   
}

.container{
    display: flex;
    flex-direction: row;
    justify-content: center;  
    align-items: center;
    flex-wrap: nowrap;
    align-content: center;
    column-gap: 15px;
}

.imagem-perfil{
 background-image:  url(img/Rectangle\ 1.svg);
 background-repeat: no-repeat;
 width: 303px;
 height: 388px;
 border-radius: 30px;
 padding-right: 80px;
}


.nickname{
    color: #DEDCDC;
    font-family: 'Whitney', sans-serif;
    text-align: center;
    font-size: 15px;
    font-weight: 700; 
}

.badges{
    color: #FFFF;
    font-family: 'Whitney', sans-serif;
    font-size: 5px;
    font-weight: 700; 
    padding: 15px;
}


.rectangle10 img{

}


img {
    display: block;
    margin: 0 auto;
    margin-top: 25px;
  }

  